SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=read_customers,write_customers
SHOPIFY_APP_URL=https://crm-sync.pages.dev
XANO_BASE_URL=https://xerb-qpd6-hd8t.n7.xano.io/api:1Zsx4CNw
XANO_API_KEY=
XANO_WORKSPACE_ID=4
WORKER_URL=https://cf-worker-crm-sync.yoonsunlee150.workers.dev
